body {
    background-color: antiquewhite;
    margin: 0;
}

h1 {
    background-color: rgb(219, 22, 22);
    padding: 30px;
    display: flex;
    justify-content: center;
    color: aliceblue; 
    font-size: 40;
}